@import '../../../../styles/Common.scss';

.mainMediumCard {
  @include flexBox(flex-start, center, row);
  flex-wrap: wrap;

  .mediumCard {
    width: 320px;
    height: 540px;
    padding: 0 10px;
    background: url('../MainLargeCard/zoom-in.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 52% 50%;

    :hover {
      opacity: 0.2;
      transform: scale(1.1);
    }

    img {
      width: 300px;
      height: 365px;
      border-radius: 20px;
      object-fit: cover;
      overflow: hidden;
    }

    p:nth-child(2) {
      margin-top: 16px;
      font-weight: 800;
    }

    p {
      display: -webkit-box;
      width: 300px;
      margin: 8px 0;
      font-size: 13px;
      text-align: justify;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
