@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@0;1&family=Roboto&display=swap");
:root {
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
