@import '../../../../styles/Common.scss';

.mainNews {
  article {
    width: 90%;
    margin: auto;

    div {
      ul {
        margin: auto;
      }

      div {
        position: relative;

        .prev,
        .next {
          position: absolute;
          top: -385px;
        }

        .prev {
          left: -40px;
        }

        .next {
          right: -40px;
        }
      }
    }
  }
}
