.Footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;

  .footerList {
    display: flex;
    margin: 5px auto;
    li {
      margin: 0 3px;
    }
  }
}
