@import '../../../styles/Common.scss';

@mixin marginHeaderLeftRight {
  margin-left: 10px;
  margin-right: 10px;
}

%cartMypageMypickButton {
  margin-right: 10px;
  font-size: 15px;
  color: $--font-desc-gray;
}

.LoginAndLogout {
  @include flexBox(space-between, center, row);

  .loggedInInfo {
    @include marginHeaderLeftRight();
    position: relative;
    // width: 82px;
    &:hover {
      .loggedInBox {
        display: block;
      }
    }

    .loggedInBox {
      display: none;
      position: absolute;
      top: 20px;
      right: -30px;
      z-index: 999;
      background-color: white;
      color: $--font-desc-gray;
      border-bottom: 1px solid $--border-line;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
      text-align: center;
      line-height: 30px;
      padding: 10px;
    }
  }

  i {
    margin-left: 3px;
  }
}

.logoutButton {
  @extend %cartMypageMypickButton;
}

.goToPickStore {
  @extend %cartMypageMypickButton;
}

.goToMypage {
  @extend %cartMypageMypickButton;
}

.goToCart {
  @extend %cartMypageMypickButton;
}

.loggedInbox {
  display: none;
}

.goToLogin {
  .loginButton {
    @extend %cartMypageMypickButton;
  }
}

.viewTotal {
  @include marginHeaderLeftRight();
  font-size: 15px;
}
