.goToTop {
  position: fixed;
  bottom: 45px;
  right: 30px;
  width: 90px;
  height: 45px;
  line-height: 46px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  z-index: 10;
}
