@import '../../styles/Common.scss';

@mixin marginHeaderLeftRight {
  margin-left: 10px;
  margin-right: 10px;
}

.navAndHeader {
  width: 1280px;
  margin: 10px auto;

  .lifeStoreNav {
    position: absolute;
    top: 0;
    width: 1280px;
    margin: 10px auto;

    .navHeader {
      @include flexBox(space-between, center, row);
      margin-top: 13px;
      padding: 10px;
      border-bottom: 1px solid $--border-line;
      color: $--font-desc-gray;
      font-size: 15px;

      .navHeaderLeft {
        .toMoveNaverPage {
          @include marginHeaderLeftRight();
        }

        .toMoveNaverShopping {
          @include marginHeaderLeftRight();
        }
      }

      .navHeaderRight {
        .toLoginPage {
          @include marginHeaderLeftRight();

          .loginButton {
            margin-right: 10px;
            padding: 3px;
            border: 1px solid $--border-line;
            font-size: 15px;
            color: $--font-desc-gray;
          }

          .viewTotal {
            @include marginHeaderLeftRight();
            font-size: 15px;
          }
        }
      }
    }
    .navBody {
      .logoAndSearch {
        @include flexBox(center, center, row);

        .logoLifeStore {
          @include flexBox(center, center, row);
          margin-top: 30px;
          margin-bottom: 22px;
          font-size: 34px;
          color: $--font-title-black;
          font-weight: bolder;
        }

        .searchBox {
          .search {
            position: absolute;
            right: 5px;
            top: 70px;
            height: 40px;
            width: 218px;
            margin-top: 50px;
            margin-bottom: 22px;
            padding-left: 10px;
            border: 1px solid $--font-desc-gray;
            border-radius: 20px;
          }

          .searchButton {
            position: absolute;
            right: 20px;
            top: 133px;
          }
        }
      }
    }
  }
}
